* {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav {
    background: #26a69a;
}

#container {
    padding: 20px;
    max-width: 1324px;
    margin: 0 auto;
}

#profile-information > li {
    padding: 20px;
}

.toast.ERROR {
    background: red;
}

.toast.WARNING {
    background: orange;
}

#navigation-trigger {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
}

#navigation-trigger > i {
    font-size: 3rem;
    color: #26a69a;
}

.toast.SUCCESS {
    background: #4BB543;
}

#container {
    padding-left: 320px;
    padding-bottom: 200px;
}

#navigation-trigger {
    display: none;
}

@media only screen and (max-width: 992px) {

    #container {
        padding-left: 20px;
    }

    #navigation-trigger {
        display: block;
    }
}

.section {
    background: #eee;
    padding: 20px !important;
}

.house-canvas {
    width: 100%;
}

p, a {
    line-height: 30px;
}

.preview-tab {
    margin-top: 20px;
}

#preview-row {
    display: none;
}